

.whole {
  background-color: #E8BE17;
  text-align: center;
  width: 600px;
  margin: auto;
}

.myname {
  background-color: black;
  margin-left: 60px;
  margin-right: 100px;
  border-radius: 25px;
  margin-top: 15px;
}

.JonPic {
  margin-left: 0px;
  margin-top: 15px;
  border-radius: 25px;
  border: 2px solid black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.clickbar1 {
  display: inline;
  margin-right: 10px;
  text-align: center;

}

.clickbarfont {
  font-family; "Times New Roman", Times, serif;
  color: #97F576;
}

.clickbardiv{
  background-color: black;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 25px;
  margin-top: 15px;
}

h1 {
  font-family: Impact;
  font-size: 60px;
  color: #97F576;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 470px;
}

h3 {
  font-family: Georgia;
  color: #97F576;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -15px;
}

p {
  margin-top: -15px;
}

a {
  color: red;
  text-decoration: none;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

.punks {
border-radius: 25px;
}

.atlpic {
  border-radius: 25px;
  margin-bottom: -10px;
  margin-top: 15px;
}

.moods {
  border-radius: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Moods_Text {
  font-size: 30px;
  margin-bottom: 10px;
}

.puppy_pizza {
  border-radius: 25px;
}

.vegeta {
  border-radius: 25px;
}

.thumbs_up {
  border-radius: 25px;
}

.sleepy {
  border-radius: 25px;
}

div {
  background-color: #97F576;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  text-shadow: 1px 0 black, 0 -1px black, -1px 0 black, 0 1px black;
}
