

.whole {
  background-color: #E8BE17;
  text-align: center;
  width: 600px;
  margin: auto;
}

.myname {
  background-color: black;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 25px;
  margin-top: 15px;
}

.JonPic {
  margin-left: 60px;
  margin-top: 15px;
  border-radius: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
  font-family: Impact;
  font-size: 60px;
  color: #97F576;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 470px;
}

h3 {
  font-family: Georgia;
  color: #97F576;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -15px;
}

p {
  margin-top: -15px;
}

a {
  color: red;
  text-decoration: none;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

.moods {
  border-radius: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Moods_Text {
  font-size: 30px;
  margin-bottom: 10px;
}

.puppy_pizza {
  border-radius: 25px;
}

.vegeta {
  border-radius: 25px;
}

.thumbs_up {
  border-radius: 25px;
}

.sleepy {
  border-radius: 25px;
}

div {
  background-color: #97F576;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  text-shadow: 1px 0 black, 0 -1px black, -1px 0 black, 0 1px black;
}